<div class="container message-box">
	<% lesson.comments.each do |comment| %>
		<% if comment.user_id == current_user.id %>
			<div class="row mt-3">
				<div class="col-md-7 offset-md-2">
					<div class = "row float-right">
						<div class ="col">
							<%= comment.comment %>
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<% if comment.user.image_file_name.nil? %>
						<% no_image = "https://pf-doughit-resize.s3-ap-northeast-1.amazonaws.com/uploads/user/image/noimage.png" %>
						<%= image_tag no_image, size: "50x50", class:"rounded-circle profile-box-img" %>
					<% else %>
						<% user_image = "https://pf-doughit-resize.s3-ap-northeast-1.amazonaws.com/uploads/user/image/" + comment.user.id.to_s + '/' + comment.user.image_file_name %>
						<%= image_tag user_image, size: "50x50", class:"rounded-circle profile-box-img" %>
					<% end %>
				</div>
			</div>
		<% else %>
			<div class="row mt-3">
				<div class="col-md-1 offset-md-1">
					<% if comment.user.image_file_name.nil? %>
						<% no_image = "https://pf-doughit-resize.s3-ap-northeast-1.amazonaws.com/uploads/user/image/noimage.png" %>
						<%= image_tag no_image, size: "50x50", class:"rounded-circle profile-box-img" %>
					<% else %>
						<% user_image = "https://pf-doughit-resize.s3-ap-northeast-1.amazonaws.com/uploads/user/image/" + comment.user.id.to_s + '/' + comment.user.image_file_name %>
						<%= image_tag user_image, size: "50x50", class:"rounded-circle profile-box-img" %>
					<% end %>
				</div>
				<div class="col-md-5 offset-md-1">
					<div class="row">
						<%= link_to comment.user.name,user_path(comment.user.id) %>
					</div>
					<div class="row">
						<div class="offset-md-1">
							<%= comment.comment %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>