<div class="container message-box">
	<% lesson.comments.each do |comment| %>
		<% if comment.user_id == current_user.id %>
			<div class="row mt-3">
				<div class="col-md-7 offset-md-2">
					<div class = "row float-right">
						<div class ="col">
							<%= comment.comment %>
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<% user_image = "https://pf-doughit-resize.s3-ap-northeast-1.amazonaws.com/uploads/user/image/" + comment.user.id.to_s + '/' + @user.image_file_name.to_s %>
					<%= image_tag user_image, size: "50x50",class:"rounded-circle img-fluid", fallback: "noimage.png"%>
				</div>
			</div>
		<% else %>
			<div class="row mt-3">
				<div class="col-md-1 offset-md-2">
					<%= image_tag comment.user.image.to_s, size: "50x50",class:"rounded-circle img-fluid", fallback: "noimage.png" %>
				</div>
				<div class="col-md-7">
					<div class="row">
						<%= link_to comment.user.name,user_path(comment.user.id) %>
					</div>
					<div class="row">
						<div class="offset-md-1">
							<%= comment.comment %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>