
<% unless user.nil? %>
	<div class="profile-box-home">
		<div class = "profile-box-child-left">
			<%= link_to user_path(user.id) do %>
				<%= image_tag user.image.to_s, size: "150x150", class:"rounded-circle profile-box-img", fallback: "noimage.png" %>
			<% end %>
		</div>
		<div class = "profile-box-child-right">
			<p class = "profile-box-child-right__name"><%= user.name%></p>
			<p class = "profile-box-child-right__introduction"><%= user.introduction%></p>

			<% if user.id == current_user.id %>
				<div class="link-button-sm-right">
					<%= link_to "マイページへ", user_path(current_user.id), class:"button-font" %>
				</div>
			<% else %>
				<div class="link-button-sm-right">
					<%= link_to lessons_path(user_id: user.id) do %>
						<%= user.name %>さんのレッスン
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<% else %>
	<div class = "underbar">
		<h4>こちらのユーザーは退会しました</h4>
	</div>
<% end %>
