<% unless user.nil? %>
	<div class="container">
		<div class="row mt-3 mx-5">
			<div class="profile-box">
				<div class="row mt-5 mx-2">
					<div class="col-md-3 offset-md-1">
						<%= link_to user_path(user.id) do %>
							<%= image_tag user.image.to_s,size: "150x150", class:"rounded-circle" , fallback: "noimage.png" %>
						<% end %>
					</div>
					<div class="col-md-5 offset-md-1">
						<div class="row mb-3">
							<%= user.name %><br>
						</div>
						<div class="row mt-3 mb-5">
							<%= user.introduction %>
						</div>
						<% if user.id == current_user.id %>
							<div class="row my-5">
								<div class="offset-md-3">
									<%= link_to "マイページへ", user_path(current_user.id) %>
								</div>
							</div>
						<% else %>
							<div class="row my-5">
								<div class="offset-md-3">
									<%= link_to lessons_path(user_id: user.id) do %>
										><%= user.name %>さんのレッスン一覧
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<div class="container">
		<div class="row my-5">
			<div class = "underbar">
				<h4>こちらのユーザーは退会しました</h4>
			</div>
		</div>
	</div>
<% end %>