<div class="container">


	<div class="row mt-5 mx-5">
		<div class="col-md-4">
			<h3><%= @user.name%>さんのページ</h3>
		</div>
	</div>
	<div class="profile-box">
		<div class="row mt-5 mx-5">
			<div class="col-md-3 offset-md-1">
				<%= attachment_image_tag @user, :profile_image, :fill, 150,150, class:"rounded-circle", fallback: "noimage.png",size:"150x150" %>
			</div>
			<div class="col-md-6 offset-md-2">
				<%= @user.introduction %>
			</div>
		</div>
		<div class="row mt-5 mx-5">
			<div class="col-md-4 offset-md-4">
				<h4><%= @user.name%>さんの教室一覧</h4>
			</div>
		</div>
		<div class="row mt-5 mx-5">
			<% @lessons.each do |lesson| %>
				<div class="col-md-3">
					<%= link_to lesson_path(lesson.id) do %>
						<%= image_tag lesson.image.to_s,size:"250x180", class:"img-fluid" %>
					<% end %>
					<%= lesson.name %>
				</div>
			<% end %>
		</div>
		<div class="row mt-5">
			<div class="offset-md-4">
				<%= paginate @lessons %>
			</div>
		</div>
	</div>

	<div class="row my-5">
		<div class="col-md-3">
			<%= link_to "TOP", top_path, class:"button-submit" %>
		</div>
		<div class="col-md-3 offset-md-6">
			<% if @user == current_user %>
				<%= link_to "編集する", edit_user_path(@user.id), class:"button-submit" %>
			<% end %>
		</div>
	</div>

</div>