<div class="container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar' %>
		<div class = "main-content">

			<div class="row mt-5 mx-5">
					<h3><%= @user.name%>さんのページ</h3>
					<div class="average-review-rating" data-score=<%= @average_review %>></div>
					<% if @user == current_user %>
						<div class = "link-button-sm-right">
							<%= link_to "編集する", edit_user_path(@user.id)%>
						</div>
					<% end %>
			</div>
			<div class="profile-box">
				<div class="row mt-5 mx-5">
					<div class="col-md-3 offset-md-1">
						<%#= image_tag @image_url ,size: "150x150", class:"rounded-circle" , fallback: "noimage.png",size:"150x150"%>
						<% if @user_image.nil? %>
							<% no_image = "https://pf-doughit-resize.s3-ap-northeast-1.amazonaws.com/uploads/user/image/noimage.png" %>
							<%= image_tag no_image, size: "150x150", class:"rounded-circle profile-box-img" %>
						<% else %>
							<%= image_tag @user_image, size: "150x150", class:"rounded-circle profile-box-img" %>
						<% end %>
					</div>
					<div class="col-md-6 offset-md-2">
						<div class = "row">
							<%= @user.introduction %>
						</div>
						<div class = "row">
							<div class ="link-button-sm-center">
								<%= link_to 'レビューをみる',user_reviews_path(user_id: @user.id) %>
							</div>
						</div>
					</div>
				</div>
				<% if @user.id != current_user.id %>
					<%= render 'reviews/form', user: @user %>
				<% end %>
				<div class="row my-5 mx-5">
					<div class="underbar">
						<h4><%= @user.name%>さんのレッスン</h4>
					</div>
				</div>
				<%= render 'lessons/list', lessons: @lessons %>
			</div>
		</div>
	</div>
</div>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>