<div class = "container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar' %>
		<div class = "main-content">

			<% if flash[:validate] %>
				<p class ="alert error-message-box"><%= flash[:validate] %></p>
			<% end %>
			<div class="row mt-5">
				<div class="underbar">
					<h2>予約一覧</h2>
				</div>
			</div>

			<div class="row my-5">
				<div class="col-md-8 offset-md-2">
					<div class = "row">
						<table class ="table table-hover">
							<tr>
								<th class = "table-lesson">レッスン名</th>
								<th class = "table-date">開催日時</th>
								<th class = 'table-content'>レッスン内容</th>
							</tr>
							<% @reservations.each do |reservation| %>
								<% unless reservation.lesson.event_date <= DateTime.now %>
									<tr>
										<td>
											<%= link_to lesson_path(reservation.lesson.id) do %>
												<%= reservation.lesson.name %>
											<% end %>
										</td>
										<td><%= l reservation.lesson.event_date %></td>
										<td><%= reservation.lesson.content %></td>
									</tr>
								<% end %>
							<% end %>
						</table>
					</div>
				</div>
			</div>
			<div class = "link-button-sm-center">
				<%= link_to "TOPページへ", top_path, class:"button-font" %>
			</div>
		</div>
	</div>
</div>