<div class = "container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar', categories: @categories %>
		<div class = "main-content">
			<% if flash[:validate] %>
				<p class ="alert error-message-box"><%= flash[:validate] %></p>
			<% end %>
			<div class="underbar">
				<h2>予約一覧</h2>
			</div>


			<div class="row my-5">
				<div class = "reservation-sort">
					<%= form_with model: @reservation, url:lesson_reservations_path, method: :get, local: true do |form| %>
						<div class = "reservation-sort__key">
							<%= form.select :sort, [['予約順', 'old'],['開催日順','date']] %>
						</div>
						<div class = "reservation-sort__button">
							<%= form.submit '並び替える' %>
						</div>
					<% end %>
				</div>
			</div>
			<div class = "list-reservations">
				<%= render 'list', lessons:@lessons %>
			</div>
			<%= render'simple_calendar/lesson-calendar', lessons: @lessons_calendar %>
			<div class = "link-button-sm-center">
				<%= link_to "TOPページへ", top_path, class:"button-font" %>
			</div>
		</div>
	</div>
</div>