<div class="lesson-box">
	<% lessons.each do |lesson| %>
		<div class="lesson-child">
			<%= link_to lesson_path(lesson.id) do %>
				<%= image_tag lesson.image.to_s, class:"lesson-img" %>
			<% end %>
			<br>
			<%= lesson.name %>
			<br>
			<%= l lesson.event_date.to_date %>
			<%= l lesson.created_at %>
		</div>
	<% end %>
</div>
<div class="row my-5">
	<div class="link-center">
		<%= paginate lessons %>
	</div>
</div>



