	<div class="row mt-5 mx-5">
		<div class= "col-md-6">
			<%= image_tag lesson.image.to_s,size: "500x300", class:"img-fluid" %>
		</div>
		<div class="col-md-5 offset-md-1">
			<div class="row mt-3">
				<h2><%= lesson.name %></h2>
			</div>
			<div class="row mt-2">
				<h4><%= lesson.content %></h4>
			</div>
			<div class="row mt-5">
				<h5>開催日：<%= l lesson.event_date %></h5>
			</div>
			<div class="row mt-2">
				<h5>開催場所：<%= lesson.address%></h5>
			</div>
			<div class="row mt-2">
				<h5>参加費：<%= lesson.tuition.to_s(:delimited) %>円</h5>
			</div>
			<div class="row mt-2">
				<h5>最大参加人数：<%= lesson.max_attendees.to_s(:delimited) %>名</h5>
			</div>
			<div class="row mt-2">
				<!-- ユーザーが退会していたら表示しない -->
				<% unless lesson.user.nil? %>
					<!-- 予約人数が制限に達しておらず、締め切り日も超えていない場合のみ予約ボタンを表示 -->
					<% if lesson.user_id != current_user.id %>
						<% if lesson.reservations.count < lesson.max_attendees && DateTime.now < lesson.deadline %>
							<%= link_to "予約する",lesson_reservations_path(lesson_id: lesson.id),class:"button button-center", method: :post %>
						<% else %>
								<p class="apologies">現在こちらのレッスンは予約できません。</p>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>