<div class = "container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar' %>
		<div class = "main-content">
			<%= render 'detail', lesson: @lesson %>
			<% if @lesson.user_id == current_user.id %>
				<div class ="row mt-5">
					<h3 class ="underbar-headline">予約者一覧</h3>
				</div>
				<!-- 予約した人がいた場合、リンク先がプロフィールのアイコンを表示 -->
				<% if @lesson.reservations.exists? %>
					<div class ="row mt-4 mx-5">
						<% @lesson.reservations.each do |reservation| %>
							<div class="reservation-user">
								<!-- 退会しているユーザーではないかチェック -->
								<% unless reservation.user.nil? %>
									<%= link_to user_path(reservation.user_id) do %>
										<%= render 'users/user-image', user: reservation.user %>
									<% end %>
									<!-- 退会しているユーザーのユーザー詳細ページには飛べない -->
								<% else %>
									<% no_user = "https://pf-doughit-resize.s3-ap-northeast-1.amazonaws.com/uploads/user/image/no-user.jpg" %>
									<%= image_tag no_user, size: '50x50', class:'rounded-circle img-fluid' %>
								<% end %>
							</div>
						<% end %>
					</div>
				<% else %>
				<!-- 予約した人がいなかった場合 -->
					<div class="row my-4 mx-5">
						<h4 class ="heighlighter">予約したユーザーはいません</h4>
					</div>
				<% end %>
			<% end %>
			<div class ="row mt-5">
				<%= render 'map', lesson: @lesson %>
			</div>


			<%= render 'users/profile', user: @lesson.user, image_url: @user_image %>
			<div class="comment-headline">
				<div class="comment-headline__center">
						<h3>コメント</h3>
				</div>
			</div>
			<div id = 'js-comment-list'>
				<%= render 'comments/list', lesson: @lesson %>
			</div>
			<div id = 'js-comment-form'>
				<%= render 'comments/form', lesson: @lesson %>
			</div>
		</div>
	</div>
</div>


