

<div class = "container">
	<div class = "top-main-visual top-home">
		<div class = "top-main-visual__left top-child-left">
			<%= image_tag 'top-main.jpg', class:'top-main-img' %>
		</div>
		<div class = "top-child-right">
			<div class = "top-main-visual__right">
				<div class = "main-search">
					<%= render 'searches/search-box'%>
				</div>
				<div class="new-lesson-headline">
					<p class = "new-lesson-headline__text">新着教室</p>
				</div>
				<div class="lesson-box">
					<% @lessons.last(6).each do |lesson| %>
						<div class="lesson-child">
							<%= link_to lesson_path(lesson.id) do %>
								<%= image_tag lesson.image.to_s, class:"lesson-img" %>
							<% end %>
							<%= lesson.name %>
						</div>
					<% end %>
				</div>
					<div class="button-classic">
						<%= link_to "教室一覧", lessons_path,class:"button-classic-link" %>
					</div>
			</div>
		</div>
	</div>

<div class="main-box">
	<%= render 'layouts/sidebar' %>
	<div class = "main-content">
		<%= render 'users/profile', user: @user %>
		<%= month_calendar events: @lessons do |date, lessons| %>
		  <%= date.day %>
		  <% lessons.each do |lesson| %>
		  	<!-- 自分が開くレッスンの表示 -->
		  	<% if lesson.user_id == current_user.id %>
		  	<div class = "calender-event">
		      <%= link_to lesson_path(lesson.id) do %>
		        <%= lesson.name %>
		     </div>
		      <% end %>
		     <!-- 予約したレッスンの表示 -->
		    <% elsif lesson.reservations.exists? %>
		    	<% lesson.reservations.each do |reservation| %>
		    		<% if reservation.user_id == current_user.id %>
		    		<div class = "calender-event">
			      	<%= link_to lesson_path(lesson.id) do %>
			        	<%= lesson.name %>
			      	<% end %>
			      </div>
			      <% end %>
			    <% end %>
		    <% end %>
		  <% end %>
		<% end %>
	</div>
</div>
