<div class = "top-container">

	<div class = "top-main-visual top-home">
		<div class = "top-main-visual__left top-child-left">
			<%= image_tag 'top-main.jpg', class:'top-main-img' %>
		</div>
		<div class = "top-child-right">
			<div class = "top-main-visual__right">
				<div class = "main-search">
					<%= render 'searches/search-box'%>
				</div>
				<div class="new-lesson-headline">
					<p class = "new-lesson-headline__text">新着教室</p>
				</div>
				<div class="lesson-box">
					<% @lessons.last(6).each do |lesson| %>
						<div class="lesson-child">
							<%= link_to lesson_path(lesson.id) do %>
								<%= image_tag s3_lesson_image(lesson), class:"lesson-img" %>
							<% end %>
							<br>
							<%= lesson.name %>
						</div>
					<% end %>
				</div>
					<div class="button-classic">
						<%= link_to "教室一覧", lessons_path,class:"button-classic-link" %>
					</div>
			</div>
		</div>
	</div>

	<div class="main-box">
		<%= render 'layouts/sidebar', categories: @categories %>
		<div class = "main-content">
			<%= render 'users/profile', user: @user, image_url: @user_image %>
			<%= render 'simple_calendar/lesson-calendar', lessons: @lessons_calendar %>
		</div>
	</div>

</div>