<div class ="container">
  <div class="row">
    <div class ="col-md-10 offset-md-1 mt-5">
      <h2>Log in</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row my-3">
      <div class="col-md-3 offset-md-1 text-right">
        <p>メールアドレス</p>
      </div>
      <div class="col-md-4">
        <%= f.email_field :email,class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>
    </div>



    <div class="row my-3">
      <div class="col-md-3 offset-md-1 text-right">
        <p>パスワード</p>
      </div>
      <div class="col-md-4">
        <%= f.password_field :password,class: "form-control", autocomplete: "current-password" %>
      </div>
    </div>


    

    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">
        <%= f.submit "Log in",class: "button-submit" %>
      </div>
    </div>
  <% end %>


  <div class="row mt-5">
    <div class ="col-md-6 offset-md-4">
      <h5><%= link_to "登録がお済みではない方はこちら", new_user_registration_path,class:"button-wide"%></h5>
    </div>
  </div>
</div>


