<div class ="container">
  <div class = "header-title">
    <h1 class= "header-title__main">Log in</h1>
    <h5 class= "header-title__sub">ログイン</h5>
  </div>
  <div class = "new-home">
    <div class = "new-child home-left">
      <h3 class = "text-center">会員の方</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row mt-5 mb-3">
          <div class = "col-md-11">
            <%= f.email_field :email,class: "form-control", autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-11">
            <%= f.password_field :password,class: "form-control", autocomplete: "current-password", placeholder: "パスワード" %>
            <%= link_to "=>忘れた方はこちらから",new_password_path(resource_name) %>
          </div>
        </div>
        <div class="row mt-5">
          <div class ="link-center">
            <%= f.submit "Log in",class: "button-submit" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class = "new-child home-right">
      <h3 class = "text-center">会員登録がお済みでない方</h3>
      <div class = "devise-margin">
        <div class = "button-submit-square">
          <%= link_to "新規会員", new_user_registration_path, class:"button-submit-link" %>
        </div>
      </div>
    </div>
  </div>
</div>


