<%= form_with model: @lesson, url:categorize_path, method: :get, local: true do |form| %>
	<div class = "lesson-sort-box">
		<div class = "lesson-sort-box__command">
			<p class = "lesson-sort-box__command--headline">絞り込み</p>
			<p class = "lesson-sort-box__command--select">
				<% if params[:category_id] == "1" %>
					<%= form.select :category_id, [['洋食', '1'],['和食','2'],['パン','3'],['ケーキ','4']] %>
				<% elsif params[:category_id] == "2" %>
					<%= form.select :category_id, [['和食','3'],['洋食', '1'],['パン','3'],['ケーキ','4']] %>
				<% elsif params[:category_id] == "3" %>
					<%= form.select :category_id, [['パン','3'],['洋食', '1'],['和食','2'],['ケーキ','4']] %>
				<% elsif params[:category_id] == "4" %>
					<%= form.select :category_id, [['ケーキ','4'],['洋食', '1'],['和食','2'],['パン','3']] %>
				<% else %>
					<%= form.select :category_id, [['ジャンル選択', nil ],['洋食', '1'],['和食','2'],['パン','3'],['ケーキ','4']] %>
				<% end %>
			</p>
			<p class = "lesson-sort-box__command--select">
			 	<%= form.date_field :date %>
			</p>
		</div>
		<div class = "lesson-sort-box__command">
			<p class = "lesson-sort-box__command--headline">並び替え</p>
			<p class = "lesson-sort-box__command--select">
				<%= form.check_box :not_active %>予約終了のレッスンも表示
			</p>
			<p class = "lesson-sort-box__command--select">
				<%= form.select :sort, [['開催日が早い順', 'early'],['開催日が遅い順','late'],['新着順','new'],['投稿順','old']] %>
			</p>
		</div>
		<div class="link-center">
			<%= hidden_field_tag :user_id, params[:user_id] %>
			<%= form.submit "検索", class:"search-button" %>
		</div>
	</div>
<% end %>