<% if params[:category_name] %>
	<div class ="container">
		<div class ="row mt-5">
			<div class = "underbar">
				<h2>カテゴリー検索</h2>
			</div>
		</div>
		<div class="container">
			<% if @lessons.exists? %>
				<div class="row mt-5 ml-5">
					<h4></h4>
					<%if params[:category_name] == "1" %>
						<h4>洋食一覧</h4>
					<%elsif params[:category_name] == "2" %>
						<h4>和食一覧</h4>
					<%elsif params[:category_name] == "3" %>
						<h4>パン一覧</h4>
					<%elsif params[:category_name] == "4" %>
						<h4>ケーキ一覧</h4>
					<% end %>
					<h4>(全<%= @lessons_count %>件)</h4>
				</div>
				<%= render 'lessons/list', lessons: @lessons %>
			<% else %>
				<div class="row mt-5">
					<h4>検索ワード "<%= @word %>"</h4>
				</div>
				<div class ="row mt-5">
					<h3 class= "no-product">該当するレッスンはありませんでした</h3>
				</div>
			<% end %>
		</div>
	</div>
<% else %>
	<div class ="container">
		<div class ="row mt-5">
			<div class = "underbar">
				<h2>検索結果</h2>
			</div>
		</div>
		<div class="container">
			<% if @lessons.exists? %>
				<div class="row mt-5">
					<h4>検索ワード "<%= @word %>"</h4>
					<h4>(全<%= @lessons_count %>件)</h4>
				</div>
				<%= render 'lessons/list', lessons: @lessons %>
			<% else %>
				<div class="row mt-5">
					<h4>検索ワード "<%= @word %>"</h4>
				</div>
				<div class ="row mt-5">
					<h3 class= "no-product">該当する商品はありませんでした</h3>
				</div>
			<% end %>
		</div>
	</div>
<% end %>