<div class = "container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar', categories: @categories %>
		<div class = "main-content">
				<div class = "underbar">
					<h2>検索結果</h2>
				</div>
				<div class="container">
					<% if @lessons.exists? %>
						<div class="row mt-5">
							<h4>検索ワード "<%= @word %>"</h4>
							<h4>(全<%= @lessons_count %>件)</h4>
						</div>
						<%= render 'lessons/list', lessons: @lessons %>
					<% else %>
						<div class="row mt-5">
							<h4>検索ワード "<%= @word %>"</h4>
						</div>
						<h5 class="no-lessons">該当するレッスンはありませんでした</h5>
					<% end %>
				</div>
			</div>
	</div>
</div>