<%= form_with model:[user, user.reviews], url: user_reviews_path(user.id), method: :post, data: { remote: false } do |f| %>
	<div class = "row mt-5 mx-5">
		<h4 class = "headline-center">レビューを投稿する</h4>
	</div>
	<div class ="row-my-3">
		<div class = "col-md-8 offset-md-2">
			<% if flash[:validate_review] %>
				<p class ="alert error-message-box"><%= flash[:validate_review] %></p>
			<% end %>
		</div>
	</div>
	<div class = "row my-3">
		<div class = "col-md-8 offset-md-2">
			<%= render 'devise/shared/error', sth: user %>
		</div>
	</div>
	<div class = "row mt-5">
		<div class = "col-md-4 offset-md-3">
			<div class="rating-form"></div>
  	</div>
	</div>
	<div class = "row mt-3">
		<div class = "col-md-6 offset-md-3">
			<%= f.text_area :review, class:"form-control" %>
		</div>
	</div>
	<div class = "row mt-3">
		<div class = "link-center">
			<%= f.submit '投稿する',class:"button-submit-sm" %>
		</div>
	</div>
<% end %>


<script>
  $('.rating-form').raty({
  	half: true,
    starOn: "<%= image_url('star-on.png') %>",
    starOff: "<%= image_url('star-off.png') %>",
    starHalf: "<%= image_url('star-half.png') %>",
    scoreName: 'review[rate]',
    
  });
</script>
