
<div class = "container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar' %>
		<div class = "main-content review-height">
			<% if @reviews.exists? %>
				<div class = "row mt-5">
					<h1 class = "underbar">レビュー</h1>
				</div>
				<div class = "row mb-3">
					<div class = "link-button-sm">
						<%= link_to "戻る", user_path(@user.id) %>
					</div>
				</div>
				<table class = "table table-hover">
				<% @reviews.each do |review| %>
					<!-- レビューした人の情報を取り出す -->
					<% reviewer = User.find(review.reviewer_id) %>
					<tr>
						<td class = "table-image">
							<%= image_tag reviewer.image.to_s, size: "50x50",class:"rounded-circle", fallback: "noimage.png" %>
						</td>
						<td>
							<div class="review-rating" data-score="<%= review.rate %>"></div>
							<%= review.review %> (<%= reviewer.name %>)
						</td>
					</tr>
				<% end %>
			</table>
			<% else %>
				<div class ="row mt-5">
					<h2 class ="headline-center">レビューはまだありません</h2>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starOn: "<%= image_url('star-on.png') %>",
    starOff: "<%= image_url('star-off.png') %>",
    starHalf: "<%= image_url('star-half.png') %>",
  });
</script>