<div class = "container">
	<% if @reviews.exists? %>
		<div class = "row mt-5">
			<h1 class = "headline-center">レビュー</h1>
		</div>
		<div class = "row">
			<div class = "link-button-sm">
				<%= link_to "戻る", user_path(@user.id) %>
			</div>
		</div>
		<% @reviews.each do |review| %>
			<!-- レビューした人の情報を取り出す -->
			<% reviewer = User.find(review.reviewer_id) %>
			<div class = "row mt-5">
					<div class="col-md-1 offset-md-2">
						<%= image_tag reviewer.image.to_s, size: "50x50",class:"rounded-circle img-fluid", fallback: "noimage.png" %>
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class = "col-md-4">
								<%= reviewer.name %>
							</div>
								<div class="review-rating" data-score="<%= review.rate %>"></div>
							</div>
						<div class="row">
							<div class="offset-md-1">
								<%= review.review %>
							</div>
						</div>
					</div>

				</div>
		<% end %>
	<% else %>
		<div class ="row mt-5">
			<h2 class ="headline-center">レビューはまだありません</h2>
		</div>
	<% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>