<!DOCTYPE html>
<html>
  <head>
    <title>Dough</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/188b0a3462.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="navbar">
      <div class="navbar__logo">
        <%= image_tag 'logo.png', :size => '90x90'%>
      </div>
      <ul class="nav-item">
        <% if user_signed_in? %>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <nav class="globalMenuSp">
            <ul>
              <li><%= link_to "トップページ", top_path %></li>
              <li><%= link_to "教室を開く", new_lesson_path %></li>
              <li><%= link_to "レッスン一覧", lessons_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, :method=>:delete %></li>
            </ul>
        </nav>
        <% else %>
          <h4 class="nav-item__link">
            <%= link_to "ABOUT US", root_path %>
          </h4>
          <h4 class="nav-item__link">
            <%= link_to "新規登録", new_user_registration_path %>
          </h4>
          <h4 class="nav-item__link">
            <%= link_to "ログイン", new_user_session_path %>
          </h4>
        <% end %>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="category-bar">
        <li class="sub-nav-item">
          <%= link_to notifications_path ,class:"sub-nav-item__icon" do%>
            <% if notifications_is_checked.any? %>
              <div class = "header-bell">
                <i class="fas fa-bell fa-2x header-bell__icon"></i>
                <span class="fas fa-circle header-bell__badge", data-fa-transform="shrink-8 right-6"></span>
              </div>
            <% else %>
              <i class="fas fa-bell fa-2x"></i>
            <% end %>
          <% end %>
        </li>
        <li class="sub-nav-item">
          <%= link_to lesson_reservations_path(current_user.id) ,class:"sub-nav-item__icon" do%>
            <i class="fas fa-calendar-check fa-2x"></i>
          <% end %>
        </li>
        <li class="sub-nav-item">
          <%= link_to user_favorite_path(current_user.id) ,class:"sub-nav-item__icon" do%>
            <i class="fas fa-heart fa-2x"></i>
          <% end %>
        </li>
      </div>
        

    <% end %>
    <div class="content">
      <%= yield %>
    </div>

  <footer>
    <h3 class ="footer-logo">
      DoughIt
    </h3>
    <div class="copy-right">
      ©Copyright DoughIt, inc 2020
    </div>
    </div>
  </footer>

  </body>
</html>
