<!DOCTYPE html>
<html>
  <head>
    <title>Dough</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar__logo">
        <%= image_tag 'logo.png', :size => '90x90'%>
      </div>

    </div>
    
    <div class="content">
      <%= yield %>
    </div>

  <footer>
    <h3 class ="footer-logo">
      DoughIt
    </h3>
    <div class="copy-right">
      ©Copyright DoughIt, inc 2020
    </div>
      
    </div>
  </footer>

  </body>
</html>
